<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        form {
            border: 1px solid #ddd;
            padding: 5px;
            width: 225px;
            background: #efefef;
        }

        label {
            display: block;
            margin-top: 5px;
        }

        input,
        textarea,
        select,
        option {
            min-width: 200px;
        }
</style>
</head>

<body>
    <div id="app">
        <!-- submit form -->
        <h2>Submit Form</h2>
        <form ref="formBook" @submit.prevent="submitForm($event)" methods="POST">
            <p v-if="errors.length">
                <b>Please correct the following error(s):</b>
                <ul>
                    <li v-for="error in errors">{{ error }}</li>
                </ul>
            </p>
            <label for="title">Title:</label>
            <input type="text" ref="title" name="title" v-model="title">
            <br>
            <label for="description">Description :</label>
            <textarea name="description" ref="description" v-model=" description"></textarea>
            <br>
            <label for="authors">Author:</label>
            <input type="text" ref="authors" name="authors" v-model="authors">
            <br>
            <label for="price">Price:</label>
            <input type="number" ref="price" name="prince" v-model.number="price">
            <br>
            <label for="categories">Categories :</label>
            <select name="categories" ref="categories" multiple v-model="categories">
                <option v-for="option in options" :value="option.value">
                    {{ option.text }}
                </option>
            </select>
            <br>
            <label for="cover">Cover</label>
            <input type="file" ref="cover" name="cover">
            <br>
            <label for=""></label>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script src="dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                title: 'Google Glass with VueJS',
                description: 'Control Google Glass with VueJS',
                authors: 'Ahmad Lufi A U',
                price: 75000,
                categories: [],
                options: [{
                        text: 'Graphics Programming',
                        value: '01'
                    },
                    {
                        text: 'Mobile Application Development',
                        value: '02'
                    },
                    {
                        text: 'Virtual and Augmented Reality',
                        value: '03'
                    }
                ],
                errors: []
            },
            methods: {
                submitForm(event) {
                    //console.log(event)
                    this.errors = []
                    // kode validasi
                    //let error = 0
                    if (this.title.length < 3) {
                        this.errors.push('Title minimal 3 karakter!')
                        this.$refs.title.select()
                    }
                    if (this.description.length > 500) {
                        this.errors.push('Description maximal 500 karakter!')
                        this.$refs.description.select()
                    }
                    if (this.authors.length < 3) {
                        this.errors.push('Authors minimal 3 karakter!')
                        this.$refs.authors.select()
                    }
                    if (this.price < 0) {
                        this.errors.push('Price tidak boleh minus!')
                        this.$refs.price.select()
                    }
                    if (this.categories.length === 0) {
                        this.errors.push('Pilih minimal 1 category!')
                        this.$refs.categories.focus()
                    }
                    if (this.errors.length === 0) {
                        alert('Terima kasih telah mengisi data dengan benar!')

                        //persiapkan data
                        let formBook = this.$refs.formBook
                        let cover = this.$refs.cover.files[0]
                        formData = new FormData(formBook)
                        // formData.append('title', this.title)
                        // formData.append('description', this.description)
                        // formData.append('authors', this.authors)
                        // formData.append('price', this.price)
                        // formData.append('categories', this.categories)
                        formData.append("cover", cover)

                        // kirim data ke server
                        let xhttp = new XMLHttpRequest() // create objek XMLHttp

                        // definisikan fungsi ketika ketika terjadi perubahan state
                        xhttp.onreadystatechange = function () {
                            // state ini menunjukkan data terkirim dan diterima server dengan baik
                            if (this.onreadystatechange == 4 && this.status == 200) {
                                // respon text dari server
                                console.log(this.responseText)
                            }
                        }
                        // sesuaikan dengan lokasi file index.php di lokasi komputer
                        xhttp.open("POST", "http://localhost/vue/index.php", true)

                        // kirim objek formData
                        xhttp.send(formData)
                    }
                    //block redirect ke action
                    event.preventDefault();
                }
            }
        })
    </script>
</body>

</html>